@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0f0f1a;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
